*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins",sans-serif;
    --color1:#fff;
    --color2:#181818;
}

ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: var(--color2);
    padding: 15px 25px;
}

.logo a{
    color: var(--color1);
    text-decoration: none;
    font-size: 1.5rem;
}

.menu{
    display: flex;
}

.menu li{
    padding-left: 30px;
}

.menu li a{
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}

.menu li a::after{
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width:0;
    height: 2px;
    background-color:rgb(224, 71, 71);
    transition: 0.15s ease-in-out;

}

.menu li a:hover::after{
    width: 100%;
}

.menu-open , .menu-close{
    position: absolute;
    color: var(--color1);
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.menu-open{
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.menu-close{
    top: 20px;
    right: 20px;
 
}

#check{
    display: none;
}

@media(max-width: 610px){
    .menu{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--color2);
        transition: all .2s ease-in-out;
    }

    .menu li {
        margin-top: 40px;
    }

    .menu li a{
        padding: 10px;
    }

    .menu-open , .menu-close{
        display: block;
        transition: .7s ease-out;
        
    }

    #check:checked~.menu{
        right: 0;
        transition: all .7s ease-in-out;
    }

}